<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chaifeng.alfred.zoomus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Start a new meeting...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2911939A-5245-4051-959E-A5A9C7957490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Start a new meeting...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F912BF9-D2BD-449C-B79B-99021C792247</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CF13FD6-0253-4731-AAB8-782A8DE938CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB006362-6638-4695-9F8E-41F54FB4301F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F912BF9-D2BD-449C-B79B-99021C792247</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CF13FD6-0253-4731-AAB8-782A8DE938CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chai Feng</string>
	<key>description</key>
	<string>Join or start a zoom.us meeting.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom.us</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>https://zoom.us/j/</string>
				<key>subtext</key>
				<string>Join a meeting</string>
				<key>text</key>
				<string>Open Zoom.us directly ...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>232568D3-74B4-487E-8971-004B7D1C4FCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Paste this url directly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB006362-6638-4695-9F8E-41F54FB4301F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./alfred-zoomus.js "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5CF13FD6-0253-4731-AAB8-782A8DE938CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^http</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8F912BF9-D2BD-449C-B79B-99021C792247</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start or Join a meeting {query}...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2911939A-5245-4051-959E-A5A9C7957490</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow for Zoom.us

Website: https://chaifeng.com/alfred-workflow-zoom-us/
Github: https://github.com/chaifeng/alfred-zoomus

by Chai Feng</string>
	<key>uidata</key>
	<dict>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>2911939A-5245-4051-959E-A5A9C7957490</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>5CF13FD6-0253-4731-AAB8-782A8DE938CC</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8F912BF9-D2BD-449C-B79B-99021C792247</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>DB006362-6638-4695-9F8E-41F54FB4301F</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.2</string>
	<key>webaddress</key>
	<string>https://chaifeng.com/</string>
</dict>
</plist>
